<h1>Edit Bug</h1>

<%= form_with model: @bug do |form| %>
  <div>
    <%= form.label :bug_title %><br>
    <%= form.text_field :bug_title %>
    
     
   
  </div>

  <div>
    <%= form.label :bug_des %><br>
    <%= form.text_area :bug_des %><br>
   
  </div>
    <div>
 <%= form.collection_select(:user_id, User.all, :id, :name, :prompt => true) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "back to bugs", bugs_path  %>

